.wrapper
  .uk-grid.subHeader
    .uk-width-1-2.uk-container-center.uk-block
      %form.uk-form
        .uk-form-icon
          %i.uk-icon-search
          %input.uk-form-large.uk-form-width-large{:placeholder => "Type a keyword", :type => "text"}
          %button.uk-button{:type => "submit"} Search
  .uk-grid
    .uk-width-3-4.uk-container-center
      .uk-block
        %ul.uk-thumbnav
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnail", :alt => "Artist art")
