%footer
  .uk-container
    .uk-grid
      .uk-width-1-3.uk-vertical-align
        = image_tag("picture.png", :class =>"artistThumbnail ", :alt => "Artist art")
        %span.uk-text-top.uk-text-large Artist - Trackname
      .uk-width-1-3
        .uk-button-group
          %a{:href => ""}
            = image_tag("previous.png", :class =>"playerIcon", :alt => "Previos Song")
            = image_tag("stop.png", :class =>"playerIcon", :alt => "Previos Song")
            = image_tag("play.png", :class =>"playerIcon", :alt => "Previos Song")
            = image_tag("pause.png", :class =>"playerIcon", :alt => "Previos Song")
            = image_tag("skip.png", :class =>"playerIcon", :alt => "Previos Song")
      .uk-width-1-3
        %ul.uk-thumbnav.uk-grid-width-1-5
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
          %li
            %a{:href => ""}
              = image_tag("picture.png", :class =>"artistThumbnailmini ", :alt => "Artist art")
